/* Панель кнопка перехода в режим сайта для слабовидящих */

.blindpanel {
    position: absolute;
    top: 3px;
    left: 50%;
    height: auto;
    width: 338px;
    padding: 10px 5px;
    margin: 0px;
    margin-left: -480px;
    border: 1px solid #AFB9B1;
    border-top: none;
    border-radius: 0 0 15px 15px;
    z-index: 1000;
}

.toblind {
    margin: 0px;
    margin: 0px;
    display: block;
    background: url(/blind/blindB.png) no-repeat;
    background-position: left;
    padding: 2px 2px 2px 50px;
    height: 100%;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    color: #000;
    text-decoration: none;
    font-size: 14px;
    margin-top: -2px;
    min-height: 20px;
}

.forblind {
    display: none;
}