*:not(ymaps):not([id*="fancy"]):not([class*="blind"]) {
    background: #ff0 !important;
    color: #00f !important;
}

button, input[type="button"], input[type="submit"] {
    background: #555 !important;
}

button:hover, input[type="button"]:hover, input[type="submit"]:hover {
    background: #ccc !important;
    color: #000 !important;
}

a:not([id*="fancy"]) {
    background: #ff0 !important;
    color: #00f !important;
}

a:hover:not([id*="fancy"]) {
    background: #00f !important;
    color: #ff0 !important;
}