 /*Расположение и размер blindpanel*/

 .blindpanel {
     background: inherit;
     display: block;
     position: fixed;
     left: 50%;
     width: 970px !important;
     margin-left: -485px;
     top: 0px;
     height: 50px;
     border-bottom: 1px solid #888;
     border-left: 1px solid #888;
     border-right: 1px solid #888;
     padding: 0 7px 7px 7px;
     border-radius: 0 0 10px 10px;
     overflow: hidden;
     z-index: 9999;
     font-size: 18px !important;
     text-align: center;
 }

 .blindpanel>div>div {
     /*display: block*/
     /*float: left; */
     display: inline-block !important;
     vertical-align: middle;
 }

 .blindpanel>div>div:hover {
     outline: 3px solid #888;
 }

 .forstadart {
     display: none;
 }

 .forblind {
     display: inline-block;
 }

 .deliver {
     display: inline-block !important;
     /*float: left;*/
     width: 1px;
     margin: 0 5px;
     height: 30px;
     border-left: 1px solid #888;
 }

 .tostandart {
     display: inline-block !important;
     height: auto;
     font-size: 18px !important;
     padding: 6px;
     margin: 7px 0 0 0;
     cursor: pointer;
     background: none;
 }

 .styleSerif, .styleSans {
     text-align: center;
     padding: 0px;
     margin: 0 2px;
     font-size: 30px !important;
     height: 35px !important;
     width: 32px !important;
     cursor: pointer;
 }

 .styleSerif {
     font-family: serif !important;
 }

 .styleSans {
     font-family: sans-serif !important;
 }

 .smallfont, .normalfont, .bigfont {
     box-sizing: border-box;
     overflow: hidden;
     display: inline-block !important;
     /*float: left;*/
     height: 32px !important;
     width: 32px !important;
     margin: 0 1px;
     text-align: center;
     cursor: pointer;
 }

 .smallfont {
     font-size: 16px !important;
     padding-top: 10px !important;
 }

 .normalfont {
     font-size: 20px !important;
     padding-top: 6px !important;
 }

 .bigfont {
     font-size: 24px !important;
     padding-top: 2px !important;
 }

 .colorBlackWhite, .colorWhiteBlack, .colorBrownGreen, .colorBlues, .colorYellowBlue, .colorBlueYellow {
     display: inline-block !important;
     /*float: left;*/
     height: 30px;
     width: 30px;
     font-size: 19px !important;
     padding: 0px;
     border: 2px solid black;
     border-radius: 50%;
     text-decoration: none;
     text-align: center;
     margin: 0 2px;
     cursor: pointer;
 }

 .colorBlackWhite {
     background: #fff !important;
     color: #000 !important;
 }

 .colorWhiteBlack {
     background: #000 !important;
     color: #fff !important;
 }

 .colorBrownGreen {
     background: #afa !important;
     color: #440 !important;
 }

 .colorBlues {
     background: #aaf !important;
     color: #004 !important;
 }

 .colorYellowBlue {
     background: #00f !important;
     color: #ff5 !important;
 }

 .colorBlueYellow {
     background: #ff5 !important;
     color: #00f !important;
 }