/* 
******************************
Здесь описываем стили отображения для 
элементов в режиме для слабовидящих.

!!! НЕ пишите здесь стили в которых используются color, background, font. 
Они переключаются пользователем и описаны в других файлах.
Если надо их описать используйте файл blind-after.css

******************************
*/

html, body {
    font-family: sans-serif !important;
    font-size: 20px !important;
}

* {
    font-size: 1rem !important;
    font-family: inherit !important;
    line-height: 1.4em !important;
}

h1 {
    font-size: 2rem !important;
}

h2 {
    font-size: 1.8rem !important;
}

h3 {
    font-size: 1.5rem !important;
}

h4 {
    font-size: 1.3rem !important;
}

h5 {
    font-size: 1.2rem !important;
}

h6 {
    font-size: 1.1rem !important;
}

input, textarea, select {
    border: 1px solid #888 !important;
    min-height: 30px !important;
    padding: 5px;
    width: 100%;
    margin: 2px;
}

input[type="radio"], input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

button, input[type="button"], input[type="submit"] {
    min-height: 30px !important;
    padding: 5px;
    width: 100%;
    text-align: center !important;
    cursor: pointer !important;
}

button:hover, input[type="button"]:hover, input[type="submit"]:hover {}

a {
    display: inline-block !important;
    text-decoration: underline;
    cursor: pointer;
}

a:hover {}

a:hover {
    text-decoration: none;
}

td {
    padding: 2px;
}

.forstandart {
    display: none !important;
}

.toblind {
    display: none !important;
}

.forblind {
    display: inline-block;
}

.tostandart {
    display: block !important;
    height: 30px;
    font-size: 20px !important;
    padding: 6px;
}